# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next
/.next/
/out/

# local toolchain
/.tools/

# debug / env
npm-debug.log*
.DS_Store
*.tsbuildinfo
next-env.d.ts
.env*.local
